@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

@mixin opacity($value){
    opacity: $value;
    $opcity-fillter: $value * 100;
    filter: alpha(opacity= $opcity-fillter);
}


@mixin translate($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
}


@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}



@mixin objectFit($value) {
    object-fit: $value;
    -webkit-object-fit: $value;
    -moz-object-fit: $value;
    -ms-object-fit: $value;
    -o-object-fit: $value;
}


