
// About -1- 
.About-1-Tong, .About-1-Tong p{
    font-family: $nameFont1;
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    
}
.About-1-Tong{
    
    .Text-Hello{
        color: yellowgreen;
        font-size: 16px;      
    }
    .Text-About-1{
        font-family: cursive;
    }
}
// end About-1