
.Main-About-Us{
    margin: 100px;
  
}
.icon-inner{
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: rgba(255, 255 ,255 ,0.3);
    display: inline-block;
    border-radius: 50%;
}
.header-About-Us .Text-About{
    font-size: 40px;
    font-family: $nameFont4;
    color: red;
    text-align: center;
    text-justify: center;
}

.Number-About{
    font-size: 50px;
    font-weight: 300;
    color: red;
    line-height: 1;
    text-decoration: underline;
}

.img-AboutUs {
    width: 106%;
    height: auto;
}

.flaticon{

}

// .img-AboutUs{
//     background-image: url(images/AboutUs.jpg);
// }