
.intro{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    margin: 20px;

}

.centered {
    position: absolute;
    top: 30%;
    left: 15%;
    
}