
.dark-grey-text{
    text-decoration: none;
    color: black;
}

.dark-grey-text :hover{
    text-decoration: none;
    color: black;
}

.icon-footer{
    padding: 0;
}

.underline-footer{
    width: 80px;
    text-align: justify;
}