 


/*header-srcoll*/
.img-logo{
    width: auto;
    height: 60px;
    object-fit: cover;
    margin: 0 230px;
}
.header-right{
    font-size: 20px;
    font-family: $nameFont2;
    font-weight: bold;
    letter-spacing: 4px;
    word-spacing: 2px;
}


.dropdown:hover>.dropdown-menu {
    display: block;
  }

@keyframes small-to-big{
    from{
        padding: 50px 10px;
    }
    to{
        padding: 10px 10px;
    }
}

@keyframes big-to-small{
    from{
        padding: 10px 10px;
    }
    to{
        padding: 50px 10px;
    }
}

// change coloer when hover text
a.nav-link:hover {
    color: red !important;
}

.navbar-nav .active>.nav-link {
    color: red !important;
}

// /*the end nav-header */

