 @import '../abstracts/variables';


/*header-srcoll*/
.img-logo{
    width: 50px;
    height: 60px;
    object-fit: cover;
}
.header-right{
    margin: 0 57rem;
    font-size: 20px;
    font-family: $nameFont2;
    font-weight: bold;
    letter-spacing: 4px;
    word-spacing: 2px;
}

#header-inner{
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 50px 10px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }

@keyframes small-to-big{
    from{
        padding: 50px 10px;
    }
    to{
        padding: 10px 10px;
    }
}

@keyframes big-to-small{
    from{
        padding: 10px 10px;
    }
    to{
        padding: 50px 10px;
    }
}

<<<<<<< Updated upstream
/*slick-slide-main*/
.img-area img{
    width: 100%;
    height: 100vh;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateX(-50%, 50%);
    text-align: center;
    h2{
        font-size: 55px;
        text-transform: uppercase;
        color: yellowgreen;
        margin: 0;
        font-weight: bold;
    }
    p{
        color: yellow;
        font-weight: bold;
    }
=======
>>>>>>> Stashed changes


// css phần tạo menu monbile
.nav-bar-btn{
    width: 28px;
    height: 28px;
    display: block;
}
.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0 , 0, 0, 0.3);
    display: none;
    animation: fadeInLeft linear 0.2s;
}
.nav-mobile{
    position: fixed;
    top: 0 ;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s ;
}
.nav-mobile-list{
    margin-top: 24px;
}
.nav-mobile-list li a{
    text-decoration: none;
    font-family: $nameFont4;
}
.nav-mobile-link{
   
    color: rgb(209, 48, 36);
    display: block;
    padding: 8px 10px;
    font-size: 1.4rem;
}
.nav-mobile-close{
    width: 28px;
    height: 28px;
    color: #666;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}
.nav-input{
    display: none;
}
.nav-input:checked ~ .nav-overlay{
    display: block;    
}
.nav-input:checked ~ .nav-mobile{
    transform: translateX(0%);
    opacity: 1;
}

@media (max-width: 1023px){
    .nav-bar-btn{
        display: block;
    }
    .nav-pc{
        display: block;
    }
}

@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/*end Mobile nav*/




// change coloer when hover text
a.nav-link:hover {
    color: yellow !important;
}

.navbar-nav .active>.nav-link {
    color: yellow !important;
}

// /*the end nav-header */






  //Slider with Flickity
  * {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .wrap {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background: url(https://images.unsplash.com/photo-1485069203392-8e1aeb1ebf02?auto=format&fit=crop&w=1054&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
  
  .wrap:after {
    content:'';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
  }
  
  .slider {
    position: relative;
    z-index: 200;
    padding: 0 0px;
    margin: 5rem auto;
    max-width: 800px;
    width: 100%;
  }
  
  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    border: none;
    background: transparent;
    color: #fff;
    font-family: monospace;
    font-size: 5rem;
    z-index: 300;
    outline: none;
  }
  
  .slick-prev {
    left: -50px;
    text-align: left;
  }
  
  .slick-next {
    right: -50px;
    text-align: right;
  }
  
  
  
  .item.slick-slide {
    width: 400px;
    height: 400px !important;
    transition: transform .4s;
    position: relative; 
  }
  
  .slick-slide:after {
    content:'';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    transition: transform .4s;
  }
  
  .item.slick-slide {
    transform: scale(0.7)  translate(640px);
  }
  
  .item.slick-slide.slick-center + .slick-slide {
    transform: scale(0.8) translate(-250px);
    z-index: 10;
  }
  
  .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
    transform: scale(0.7)  translate(-640px);
    z-index: 5;
  }
  
  .item.slick-slide.slick-active {
    transform: scale(0.8) translate(250px);
  }
  
  .item.slick-slide.slick-center {
    /* margin: 0 -10%; */
    transform: scale(1);
    z-index: 30;
  }
  
  .slick-center:after {
    opacity: 0;
  }