/*OUR WORKS*/

.Main-Work {
  background-color: rgb(243, 243, 243);
  padding: 60px 0;
}

.heading-our-work {
  margin-top: 60px;
  padding: 50px;
  font-family: $nameFont3;
  color: #495057;
  h2 {
    font-size: 40px;
    text-transform: uppercase;
  }
}

.img-work img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 404px;
}

.text-work {
  margin-top: 10rem;
  // float: right;
}

.img-person img {
  border-radius: 50%;
  width: 50px;
  height: auto;
}

.custom-btn {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(217, 217, 225);
  border-image: initial;
  padding: 7px 10px;
  border-radius: 5px;
  text-decoration: none;
  
}
custom-btn1 {
  margin-top: 20px;
}

a:hover {
  color: black;
  text-decoration: none;
}

.img-resize-ourwork {
  position: relative;
  padding-top: 100%;
  width: 60px;
  overflow: hidden;
  border-radius: 100%;
}

.img-resize1 {
  left: 50%;
  position: absolute;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.media-body {
  margin-left: 5%;
}
/*END OUR WORKS*/

.media-body-right{
  flex: none;
}