.Main-Recent-Blog{
    background-color: rgb( 243, 243, 243);
}
.header-RecentBlog{
    font-family: $nameFont3;
    color: red;
    font-weight: bold;
    margin: 5%;
    text-transform: capitalize;
}
.img-RecentBlog{
    width: 65%;
    height: auto;
}