

.sec-title {
    position: relative;
    margin-bottom: 50px;
}

.sec-title h2 {
    position: relative;
    font-size: 36px;
    line-height: 1.2em;
    color: #303030;
    font-weight: 600;
}

.sec-title h4 {
    font-size: 14px;
    color: #303030;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    line-height: 1em;
    vertical-align: top;
    position: relative;
}

.sec-title h4:before {
    content: '';
    width: 100%;
    height: 3px;
    background: #F7C02D;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sec-title h4+h2 {
    margin-top: 11px;
}

.sec-title .text {
    position: relative;
    color: #777777;
    font-size: 16px;
}

.sec-title h2+.text {
    margin-top: 22px;
}

.sec-title.light h2,
.sec-title.light h4 {
    color: #ffffff;
}


.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;  
}
.project-style-two {
	background: #F7F7F7;
	position: relative;
	margin-bottom: -15px;
	padding-top: 100px;
}
.project-style-two:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 390px;
	background: #fff;
}

@media (max-width: 1570px) {
	.project-style-two:before {
		height: 290px;
	}
}

.project-style-two .sec-title .text {
	color: #848484;
	font-size: 18px;
	line-height: 28px;
}
.project-style-two .auto-container.full-width {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

.single-project-box-two {
	position: relative;
}
.single-project-box-two .image-box {
	width: 100%;
}
.single-project-box-two .image-box img {
	/*width: calc(100% - 200px);*/
	width: 100%;
	transition: all .4s ease;
	float: right;
	-webkit-transform: scale(.82);
	-ms-transform: scale(.82);
	-o-transform: scale(.82);
	transform: scale(.82);
	transform-origin: top center;
}
.project-two-carousel .owl-item.center .single-project-box-two .image-box img {
	width: calc(100% - 200px);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
@media (max-width: 1570px) {
	.single-project-box-two .image-box img {
		transform-origin: top center;
		-webkit-transform: scale(.75);
		-ms-transform: scale(.75);
		-o-transform: scale(.75);
		transform: scale(.75);
	}
	.project-two-carousel .owl-item.center .single-project-box-two .image-box img {
		width: calc(100% - 150px);
	}
}
@media (max-width: 1366px) {
	.single-project-box-two .image-box img {
		transform-origin: top center;
		-webkit-transform: scale(.82);
		-ms-transform: scale(.82);
		-o-transform: scale(.82);
		transform: scale(.82);
	}
	.project-two-carousel .owl-item.center .single-project-box-two .image-box img {
		width: calc(100% - 200px);
	}
}
.single-project-box-two .content-box {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 370px;
	width: 100%;
	background: #fff;
	box-shadow: 0px 7px 27px 0px rgba(0, 0, 0, 0.11); 
	transition: all .4s ease;
	opacity: 0;
	padding: 45px 50px;
}
.single-project-box-two .content-box:before {
	content: '';
	width: 3px;
	height: 48px;
	background: #F5BE2D;
	position: absolute;
	top:80px;
	left: 0;
}
.single-project-box-two .content-box h3 {
	margin: 0;
	color: #303030;
	font-size: 24px;
	font-weight: 700;
}
.single-project-box-two .content-box span {
	color: #F5BE2D;
	font-weight: 500;
	font-family: 'Roboto';
	font-size: 18px;
}
.single-project-box-two .content-box p {
	color: #848484;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 40px;
}

.single-project-box-two .content-box .more {
	font-size: 16px;
	color: #303030;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 30px;
	transition: all .4s ease;
	font-family: 'Roboto';
}
.single-project-box-two .content-box .more i {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(0px);
	-ms-transform: translateY(-50%) translateX(0px);
	-o-transform: translateY(-50%) translateX(0px);
	transform: translateY(-50%) translateX(0px);
	transition: all .4s ease;
}
.single-project-box-two .content-box .more:hover {
	color: #F7C02D;
	padding-left: 0;
}
.single-project-box-two .content-box .more:hover i {
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(10px);
	-ms-transform: translateY(-50%) translateX(10px);
	-o-transform: translateY(-50%) translateX(10px);
	transform: translateY(-50%) translateX(10px);
}


.project-two-carousel .owl-item.center .single-project-box-two .content-box {
	opacity: 1;
}

@media (max-width: 1370px) {
	.project-two-carousel .owl-item.center .single-project-box-two .image-box img {
		width: calc(100% - 180px);
	}
}

.project-style-two .top-box [class*=col-]:last-child {
	padding-top: 22px;
}
.project-style-two .top-box .text {
	display: inline-block;
	vertical-align: middle;
	width: 69%;
	margin-right: 77px;
}
.project-style-two-carousel-nav {
	display: inline-block;
	vertical-align: middle;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 1px solid #E1E1E1;
	color: #303030;
	font-size: 14px;
	line-height: 53px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	transition: all .4s ease;
}
.project-style-two-carousel-nav:hover {
	border-color: #F5BE2D;
	color: #F5BE2D;
}
.project-style-two-carousel-nav+ .project-style-two-carousel-nav {
	margin-left: 11px;
}