@import '../abstracts/variables';

/*slick-slide-main*/
.img-area img{
    width: 100%;
    height: 100vh;
    opacity: 0.7;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translateX(-50%, 50%);
    text-align: center;
    font-family: $nameFont2;
    h2{
        
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(217, 255, 0), 0 0 5px rgb(137, 139, 0);
        font-size: 55px;
        text-transform: uppercase;
        color: yellowgreen;
        margin: 0;
        font-weight: bold;
        text-align: justify;
    }
    p{
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(217, 255, 0), 0 0 5px rgb(137, 139, 0);    
        font-size: 30px;
        text-transform: capitalize;
        color: yellow;
        font-weight: bold;
        text-align: justify;
        font-family: $nameFont2;
    }

}
/*end slick-slide-main*/

// /*slick-slide-main*/
// .img-area img{
//     width: 100%;
//     height: 100vh;
// }
// .banner-text{
//     position: absolute;
//     top: 50%;
//     left: 3%;
//     transform: translateX(-50%, 50%);
//     text-align: center;
//     h2{
//         font-size: 55px;
//         text-transform: uppercase;
//         color: yellowgreen;
//         margin: 0;
//         font-weight: bold;
//     }
//     p{
//         color: yellow;
//         font-weight: bold;
//     }